body {
  margin-bottom: 112px;
}

div#info p {
  text-indent: 20px;
}

#header, #footer, #splash, #profile, #navBtnWrapper, #tools, #btns {
  text-align: center;
}

#header {
  background: linear-gradient( #FFFFFF 1%, #51A3A3 10%, #FFFFFF 30%, #FFFFFF 70%, #51A3A3 90%, #FFFFFF 99%);
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 3px;
  border-color: #D3D3D3;
}

fieldset {
  border: none;
}

#btns {
  margin-top: 20px;
  display: block;
}

#footer {
  display: block;
  background: #000000;
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 88px;
  width: 100%;
}

#footer button {
  background-color: #000000;
  cursor: pointer;
  font-family:Verdana;
  font-size:16px;
  padding:8px 3px;
  width: 33%;
  text-decoration:none;
}

#footer button a {
  color: #FFFFFF;
  text-decoration:none;
}

#IFInfoPg ul li a {
  color:#000000;
  text-decoration: none;
}

#IFInfoPg {
  width: 90%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

#IFInfoPg ul li {
  list-style: none;
}

#methodForm ul {
  list-style: none;
  margin-left: -40px;
}

h4, #userViews ul li button {
  box-shadow:inset 0px 1px 33px -7px #bbdaf7;
  background:linear-gradient(to bottom, #FFFFFF 5%, #f79fff 100%);
  background-color:#f79fff;
  border-radius:7px;
  border:0px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:8px 3px;
  width: 80%;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}

h4 {
text-align: center;
margin-left: 10%;
}

input, select {
  width: 80%;
}

#userViews ul {
  list-style: none;
  margin-left: -40px;
}

#userViews ul li {
  padding: 20px 0px;
}

#userViews ul li button:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}

#userViews ul li button:active {
  position:relative;
  top:1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
