body {
  margin-bottom: 112px;
}

div#info p {
  text-indent: 20px;
}

div#info h4 {
  margin-left: 10%;
}

#header, #footer, #splash, #profile, #exertion,
 #navBtnWrapper, #tools, #btns, 
 #methods, div#timerBtns {
  text-align: center;
}

#header {
  box-shadow:inset 0px 1px 21px 0px #75485E;
  background: #FFFFFF;
  margin-top: 1px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 3px;
  border-color: #51A3A3;
}

div#tools div#navBtnWrapper, 
div#IFInfoWrapper div#navBtnWrapper, 
div#timerWrapper div#navBtnWrapper,
div#profile div#navBtnWrapper,
div#accountable div#navBtnWrapper,
div#exertion div#navBtnWrapper,
div#methods div#navBtnWrapper,
div#nutrients div#navBtnWrapper,
div.sustenance div#navBtnWrapper,
div#review div#navBtnWrapper,
div#support div#navBtnWrapper,
#method {
  margin-left: 10%;
}

#navBtnWrapper {
  box-shadow:inset 0px 1px 33px -7px #bbdaf7;
  background:linear-gradient(to bottom, #FFFFFF 5%, #51A3A3 100%);
  background-color: #51A3A3;
  border-radius:16px;
  border:0px solid #51A3A3;
  width: 80%;
}

#navBtnWrapper button,
#splashWrapper button, 
input#signUpBtn, 
input#signInBtn {
  /* box-shadow:inset 0px 1px 33px -7px #bbdaf7; */
  background: none;
  background-color: none;
  border-radius:7px;
  border:0px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:8px 3px;
  width: 40%;
  text-shadow:0px 1px 0px #528ecc;
}

button#start,
button#stop,
button#reset,
button#saveUserInfo {
  background: none;
  background-color: none;
  border-radius:7px;
  border:0px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  /* font-weight:bold; */
  padding:8px 3px;
  width: 25%;
  text-shadow:0px 1px 0px #528ecc;
}

#navBtnWrapper button a {
  text-decoration:none;
  color: #000000;
}

input#signUpBtn, 
input#signInBtn,
button#start,
button#stop,
button#reset,
button#saveUserInfo {
  border-left-color: #000000;
  border-right-color: #000000;
  border-left-width: 1px;
  border-right-width: 1px;
}

button#back, button#signUp {
  border-right-color: #000000;
  border-right-width: 1px;
}

button#logOut, button#logIn {
  border-left-color: #000000;
  border-left-width: 1px;
}

fieldset {
  border: none;
}

div#timerBtns {
  margin-top: 90px;
  display: block;
}

#splashWrapper {
  margin-top: 21px;
}

div#splashNavBtnWrapper {
  display: block;
  background: none;
  padding-top: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 180px;
  width: 100%;
}

#signUpInputsWrapper {
  display: block;
  background: none;
  padding-top: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 500px;
  width: 100%;
}

#logInInputsWrapper {
  display: block;
  background: none;
  padding-top: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 366px;
  width: 100%;
}

#footer {
  display: block;
  background: #000000;
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

button#home, button#tools {
  background-color: #000000;
  cursor: crosshair;
  font-family:Verdana;
  padding: 8px 0px;
  width: 33%;
  text-decoration:none;
  border: none;
}

button#timer {
  background-color: #000000;
  cursor: crosshair;
  font-family:Verdana;
  padding:8px 0px;
  width: 33%;
  text-decoration:none;
  border: none;
}

#footer button a {
  color: #FFFFFF;
  text-decoration:none;
}

#IFInfoPg ul li a {
  color:#000000;
  text-decoration: none;
}

#IFInfoPg {
  width: 90%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

#exertionList {
  margin-left: -40px;
}

#IFInfoPg ul li, .daily-review li, .daily-tracker li {
  list-style: none;
}

ul#exertionList li {
  list-style: none;
}

#methodForm ul {
  list-style: none;
  margin-left: -40px;
}

h4, #userViews ul li button {
  box-shadow:inset 0px 1px 33px -7px #bbdaf7;
  background:linear-gradient(to bottom, #FFFFFF 5%, #f79fff 100%);
  background-color:#f79fff;
  border-radius:7px;
  border:0px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  /* font-weight:bold; */
  padding:8px 3px;
  width: 80%;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}

h4 {
text-align: center;
}

input#firstName,
input#lastName,
input#username,
input#email,
input#cell,
input#fastMethod,
input#start,
input#password,
input#confirm-password {
  width: 70%;
}

input#firstName,
input#lastName,
input#username,
input#email,
input#cell,
input#fastMethod,
input#start,
input#password,
input#confirm-password {
  box-shadow:inset 0px 1px 33px -7px #bbdaf7;
  background:linear-gradient(to bottom, #FFFFFF 5%, #f79fff 100%);
  background-color:#f79fff;
  border-radius:7px;
  border:0px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  /* font-weight:bold; */
  padding:8px 3px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}

#userViews ul {
  list-style: none;
  margin-left: -40px;
}

h3 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 33pt;
}

p#subText {
  margin-top: -55px;
  margin-left: 15%;
  font-family: Optima, sans-serif;
  color: #75485E;
}

#userViews ul li {
  padding: 16px 0px;
}

#userViews ul li a {
  color:#000000;
  text-decoration: none;
}

#userViews ul li button:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}

#userViews ul li button:active {
  position:relative;
  top:1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
